*{
    margin: 0;
    padding: 0%;
}

header{
    width: 100%;
    height: 50px;
    background-color: blanchedalmond;
}

.cuerpo{
    display: flex;
    width: 100%;
    height: 85vh;
    background-color: brown;
    justify-content: space-between;
}

.seccion1{
    width: 65%;
}

.area{
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 5%;
    resize: none;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0 0 15px black;
}

.btn-encriptar, .btn-desencriptar{
    width: 25%;
    height: 30px;
    padding: 5px;
    margin-top: 25px;
    border: none;
    box-shadow: 0 0 15px black;
}

.btn-encriptar{
    background-color: chartreuse;
}

.btn-desencriptar{
    background-color: red;
    color:white
}

.buttons{
    text-align: center;
}

.seccion2{
    width: 30%;
    box-sizing: border-box;
    overflow: hidden;
    
}

.muneco{
    width: 100%;
    height: 60%;
    padding-top: 10%;
    box-sizing: border-box;

}

.tituloh3{
    width: 100%;
    height: 20%;
    text-align: center;
}

.parrafo{
    width: 100%;
    height: 20%;
    text-align: center;
    display: block;
    
}

section{
    
    width: 40%;
    height: 100%;
    background-color: aquamarine;
}

.resultado{
    
    width: 100%;
    height: 70%;
    padding: 25px;
    box-sizing: border-box;
}
.contenedor-copiar{
    width: 100%;
    height: 20%;
}

.btn-copiar{
    width: 35%;
    height: 30px;
    text-align: center;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    background-color: blue;
    color: white;
}

footer{
    width: 100%;
    height: 50px;
    background-color: black;
}

.ocultar{
    display: none;
}